.header__image{
    max-width: 100%;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-block: 2.5rem;
    padding-inline: 1.5rem;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

    .content__copy{
        line-height: 150%;
    }

    .content__list{
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        & li{
            align-items: center;
            display: flex;
            gap: 1rem;
            line-height: 150%;
        }
    }

.form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

    .form__group{
        display: flex;
        flex-direction: column;
        gap: .5rem;

        & label{
            font-size: .75rem;
            font-weight: var(--bold);
        }

        & input{
            border: 1px solid var(--clr-neutral-60);
            border-radius: .5rem;
            font-size: 1rem;
            outline: none;
            padding: 1.25rem;

            &:is(:hover, :focus){
                border-color: #000;
                color: #000;
            }
        }
    }

    .button{
        background-color: var(--clr-neutral-20);
        border: none;
        border-radius: .5rem;
        color: var(--clr-white);
        font-size: 1rem;
        font-weight: var(--bold);
        padding-block: 1.5rem;
    }